In [ ]:
square_list = [i * i for i in range(1, 11)]
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
even_list = [i for i in range(1, 51) if i % 2 == 0]
print(even_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [ ]:
name_list = ["apple", "banana", "mango", "grapes"]
upper_list = [i.upper() for i in name_list]
print(upper_list)

['APPLE', 'BANANA', 'MANGO', 'GRAPES']

In [ ]:
num_list = [-10, 5, 7, -3, 0, 12]
positive_list = [i for i in num_list if i > 0]
print(positive_list)

[5, 7, 12]

In [ ]:
tuple_list = [(i, i*i) for i in range(1, 6)]
print(tuple_list)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
text = "prithviraj kharade"
vowel_list = [i for i in text if i in "aeiou"]
print(vowel_list)

['i', 'i', 'a', 'a', 'a', 'e']

In [ ]:
num_list = [10, -5, 7, -2, 15, -9]
new_list = [0 if i < 0 else i for i in num_list]
print(new_list)

[10, 0, 7, 0, 15, 0]

In [ ]:
word_list = ["apple", "banana", "cat", "mango"]
length_list = [len(i) for i in word_list]
print(length_list)

[5, 6, 3, 5]

In [ ]:
words = ["Apple", "banana", "Avocado", "cat", "ant"]
filtered = [word for word in words if not word.lower().startswith('a')]
print(filtered)

['banana', 'cat']

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
result = ["even" if num % 2 == 0 else "odd" for num in numbers]
print(result)

['odd', 'even', 'odd', 'even', 'odd', 'even']

In [ ]:
nums = [n for n in range(1, 101) if n % 3 == 0 and n % 5 == 0]
print(nums)

[15, 30, 45, 60, 75, 90]

In [ ]:
table = [[i * j for j in range(1, 6)] for i in range(1, 6)]
for row in table:
    print(row)

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]
[3, 6, 9, 12, 15]
[4, 8, 12, 16, 20]
[5, 10, 15, 20, 25]

In [ ]:
data = {"name": "John", "age": 25, "city": "Pune"}
keys_list = [key for key in data]
print(keys_list)

['name', 'age', 'city']

In [ ]:
text = "a1b2c3d4"
digits = [char for char in text if char.isdigit()]
print(digits)

['1', '2', '3', '4']

In [ ]:
result = "".join([char for char in text if char != " "])
print(result)

HelloWorldPython

In [ ]:
text = "programming"
duplicates = [char for char in set(text) if text.count(char) > 1]
print(duplicates)

['r', 'm', 'g']

In [ ]:
sentences = ["Python is fast", "Python is easy"]
words = [word for sentence in sentences for word in sentence.split()]
print(words)

['Python', 'is', 'fast', 'Python', 'is', 'easy']

In [ ]:
nums = [1, 2, 2, 3, 4, 4, 5]
unique = [n for i, n in enumerate(nums) if n not in nums[:i]]
print(unique)

[1, 2, 3, 4, 5]

In [ ]:
A = [1, 2, 3]
B = ['a', 'b']
pairs = [(x, y) for x in A for y in B]
print(pairs)

[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b'), (3, 'a'), (3, 'b')]

In [ ]:
d1={"a":1,"b":3,  1:'asd',  30: 'sed', 'w': 'wood'}

In [ ]:
d1

{'a': 1, 'b': 3, 1: 'asd', 30: 'sed', 'w': 'wood'}

In [ ]:
print([key for key in d1 if key in ['a', 'b', 'w']])

['a', 'b', 'w']

In [ ]:
print([key for key in d1 if key in ['a', 'b', 'w']])

['a', 'b', 'w']

In [ ]:
print([(key, val) for key, val in d1.items() if key in ['a', 'b', 'w']])

[('a', 1), ('b', 3), ('w', 'wood')]

In [27]:
add = lambda a, b: a + b
print(add(5, 3))

8

In [28]:
even = lambda x: x % 2 == 0
print(even(4))
print(even(7))

True
False

In [29]:
last_char = lambda s: s[-1]
print(last_char("Python"))

n

In [30]:
nums = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x**2, nums))
print(squares)

[1, 4, 9, 16, 25]

In [31]:
data = ["hello", "", "python", "", "world"]

result = list(filter(lambda x: x != "", data))
print(result)

['hello', 'python', 'world']

In [32]:
from functools import reduce
n = 5
fact = reduce(lambda a, b: a * b, range(1, n + 1))
print(fact)

120

In [33]:
larger = lambda a, b: a if a > b else b
print(larger(10, 20))

20

In [34]:
div_by_5 = lambda x: x % 5 == 0
print(div_by_5(25))
print(div_by_5(23))

True
False

In [36]:
nums = [1, 2, 3, 4]
result = list(map(lambda x: x + 10, nums))
print(result)

[11, 12, 13, 14]

In [37]:
people = [
    {"name": "John", "age": 25},
    {"name": "Anna", "age": 20},
    {"name": "Mike", "age": 30}
]
sorted_people = sorted(people, key=lambda x: x["age"])
print(sorted_people)

[{'name': 'Anna', 'age': 20}, {'name': 'John', 'age': 25}, {'name': 'Mike', 'age': 30}]

In [38]:
is_vowel = lambda ch: ch.lower() in "aeiou"
print(is_vowel("a"))
print(is_vowel("b"))

True
False

In [39]:
words = ["python", "is", "awesome", "and", "powerful"]
long_words = list(filter(lambda w: len(w) > 5, words))
print(long_words)

['python', 'awesome', 'powerful']

In [40]:
area = lambda r: 3.14159 * r * r
print(area(5))

78.53975

In [41]:
data = [1, 2, 2, 3, 4, 4, 5]
seen = set()
unique = list(filter(lambda x: not (x in seen or seen.add(x)), data))
print(unique)

[1, 2, 3, 4, 5]

In [42]:
from functools import reduce
nums = [1, 2, 3, 4, 5]
product = reduce(lambda a, b: a * b, nums)
print(product)

120

In [43]:
absolute = lambda x: x if x >= 0 else -x
print(absolute(-10))
print(absolute(5))

10
5

In [44]:
words = ["python", "is", "very", "powerful"]
sorted_words = sorted(words, key=lambda x: len(x))
print(sorted_words)

['is', 'very', 'python', 'powerful']

In [45]:
text = "Prithviraj Kharade"
uppercase_chars = list(filter(lambda ch: ch.isupper(), text))
print(uppercase_chars)

['P', 'K']

In [46]:
operation = lambda x: x**2 if x % 2 == 0 else x**3
print(operation(4))
print(operation(3))

16
27

In [47]:
anagram = lambda s1, s2: sorted(s1.lower()) == sorted(s2.lower())
print(anagram("listen", "silent"))
print(anagram("hello", "world"))

True
False

In [48]:
data = [10, "hello", 25, "python", 3.5, True]
numbers = list(filter(lambda x: isinstance(x, (int, float)), data))
print(numbers)

[10, 25, 3.5, True]

In [49]:
nums = [5, 10, -3, 8]
result = any(map(lambda x: x < 0, nums))
print(result)

True

In [50]:
multiplier = lambda n: (lambda x: x * n)
times3 = multiplier(3)
print(times3(5))

15