In [ ]:
name = ''' Hi How are you?

Starterd learning python.

It's really interesting.'''

In [ ]:
# name[:]
print(name[:])

 Hi How are you?

Starterd learning python.

It's really interesting.

In [ ]:
# name[-10:-5]
print(name[-10:-5])

teres

In [ ]:
# name[3:12]
print(name[3:12])

 How are

In [ ]:
# name[12:3]
print(name[12:3])

In [ ]:
# name[-4:-12]
print(name[-4:-12])

In [ ]:
# name[::2]
print(name[::2])

 iHwaeyu
Satr erigpto.
tsral neetn.

In [ ]:
# name[::-2]
print(name[::-2])

.nteen larst
.otpgire rtaS
uyeawHi

In [ ]:
L1 = ['a','b',20,30,'t',100,300,400,'Happy','major']

In [ ]:
print(L1[:])

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [ ]:
print(L1[::3])

['a', 30, 300, 'major']

In [ ]:
print(L1[::-2])

['major', 400, 100, 30, 'b']

In [ ]:
print("Happy using index =>", L1[8])
print("Happy using negative index =>", L1[-2])

Happy using index => Happy
Happy using negative index => Happy

In [ ]:
print(type(L1[3]))

<class 'int'>

In [ ]:
print(L1[5:8])

[100, 300, 400]

In [ ]:
L2 =[1,2,3,5,['a','b','work hard'],100 , 200, "Success"]

In [ ]:
print( L2[4])

print(L2[1:5])

print( L2[7])

['a', 'b', 'work hard']
[2, 3, 5, ['a', 'b', 'work hard']]
Success

In [ ]:
print( L2[:3])

print(L2[3:])

[1, 2, 3]
[5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [ ]:
#4. From the above l2 value ‘b’ must be changed to ‘BEE’.
L2 =[1,2,3,5,['a','b','work hard'],100 , 200, "Success"]

L2[4][1] = 'BEE'
print(L2)

[1, 2, 3, 5, ['a', 'BEE', 'work hard'], 100, 200, 'Success']

In [ ]:
L2 =[1,2,3,5,['a','BEE','work hard'],100 , 200, "Success"]

L2[4].remove('BEE')
print(L2)

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success']

In [ ]:
L2 =[1,2,3,5,['a','work hard'],100 , 200, "Success"]

L2.append({'insect':['bee','moth'], 'bird':['parrot','sparrow']})
print(L2)

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success', {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [ ]:
print(L2[-1]['insect'])

['bee', 'moth']

In [ ]:
d1 = {'a':10, 'b':20, 'c':30}

L2.insert(1,d1)
print(L2)

[1, {'a': 10, 'b': 20, 'c': 30}, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success', {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [ ]:
print(L2[1]['a'])

10

In [ ]:
L2 =[1,2,3,5, (90,40,50,10), 'Python', 400 ,
     ['a','b','work hard'],100 , 200, "Success",
     (200,300, "Hundreds")]

print(L2[4][2])

print( L2[5][:])

print(L2[1:5])

print( L2[5])

print( L2[5][3:-1])

print( L2[-1])

print( L2[-4:-10])

print( L2[7][2])

print( L2[:-3])

print( L2[-3:])

50
Python
[2, 3, 5, (90, 40, 50, 10)]
Python
ho
(200, 300, 'Hundreds')
[]
work hard
[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100]
[200, 'Success', (200, 300, 'Hundreds')]

In [ ]:
# Question 11

marks = float(input("Enter your marks: "))

if marks > 80:
    print("You got distinction")

elif marks > 60:
    print("You got First class")

elif marks > 40:
    print("You got Second class")

elif marks >= 35:
    print("PASS")

else:
    print("Fail")

Enter your marks: 98
You got distinction

In [ ]:
# Question 12

salary = float(input("Enter yearly salary (in LPA): "))
rating = input("Enter rating (A/B/C/D): ").upper()

increment = 0

# Salary upto 5 LPA
if salary <= 5:
    if rating == 'A':
        increment = 16
    elif rating == 'B':
        increment = 12
    elif rating == 'C':
        increment = 10
    elif rating == 'D':
        increment = 6

# Salary upto 10 LPA
elif salary <= 10:
    if rating == 'A':
        increment = 14
    elif rating == 'B':
        increment = 10
    elif rating == 'C':
        increment = 8
    elif rating == 'D':
        increment = 6

# Salary upto 15 LPA
elif salary <= 15:
    if rating == 'A':
        increment = 8
    elif rating == 'B':
        increment = 6
    elif rating == 'C':
        increment = 4
    elif rating == 'D':
        increment = 0

# Salary upto 23 LPA
elif salary <= 23:
    if rating == 'A':
        increment = 7
    elif rating == 'B':
        increment = 5
    elif rating == 'C':
        increment = 4
    elif rating == 'D':
        increment = 0

else:
    print("Salary above defined range")

# Calculate new salary
if increment > 0:
    new_salary = salary + (salary * increment / 100)
    print("Increment =", increment, "%")
    print("New Salary =", new_salary, "LPA")

elif increment == 0 and salary <= 23:
    print("No increment given")

Enter yearly salary (in LPA): 8
Enter rating (A/B/C/D): a
Increment = 14 %
New Salary = 9.120000000000001 LPA

In [ ]:
def get_book_price(std, book):

    book_prices = {
        "Hindi":  {"1-4": 60, "5-8": 100, "9-10": 150},
        "Marathi":{"1-4": 60, "5-8": 100, "9-10": 150},
        "English":{"1-4": 80, "5-8": 100, "9-10": 150},
        "Science":{"1-4": 90, "5-8": 120, "9-10": 200},
        "Maths":  {"1-4": 100,"5-8": 140, "9-10": 250}
    }

    return book_prices[book][std]

def get_notebook_price(nb_type, pages):

    notebook_prices = {
        "square": {"100": 40, "200": 70},
        "4lines": {"100": 30, "200": 50},
        "2lines": {"100": 30, "200": 50},
        "single lines": {"100": 60, "200": 100},
        "A4": {"100": 100, "200": 180}
    }

    return notebook_prices[nb_type][pages]

std = input("Enter Standard (1-4 / 5-8 / 9-10): ")
book = input("Enter Book Name: ")
book_qty = int(input("Enter Book Quantity: "))
nb_type = input("Enter Notebook Type: ")
pages = input("Enter Pages (100 / 200): ")
nb_qty = int(input("Enter Notebook Quantity: "))
book_price = get_book_price(std, book) * book_qty
nb_price = get_notebook_price(nb_type, pages) * nb_qty

total = book_price + nb_price

print("\n----- BILL -----")
print("Book Cost =", book_price)
print("Notebook Cost =", nb_price)
print("Total Cost =", total)

Enter Standard (1-4 / 5-8 / 9-10): 5-8
Enter Book Name: Marathi
Enter Book Quantity: 2
Enter Notebook Type: A4
Enter Pages (100 / 200): 100
Enter Notebook Quantity: 2

----- BILL -----
Book Cost = 200
Notebook Cost = 200
Total Cost = 400

In [ ]:
a = 100
print("Original Value:", a)

print("String:", str(a))


print(list(a))

print(tuple(a))


print(dict(a))

print(set(a))

print("Float:", float(a))

Original Value: 100
String: 100

TypeError: 'int' object is not iterable

In [ ]:
marks = [20,18,15,17,18]
print("Original List:", marks)


# Convert to list
print("List:", list(marks))

# Convert to tuple
print("Tuple:", tuple(marks))

# Convert to set
print("Set:", set(marks))

Original List: [20, 18, 15, 17, 18]
List: [20, 18, 15, 17, 18]
Tuple: (20, 18, 15, 17, 18)
Set: {17, 18, 20, 15}

In [ ]:
# Create empty list
snames = []

# Add 20 using append
snames.append(20)

# Add 30 using extend
snames.extend([30])

# Add values using append
snames.append([40,50])

# Add WORK using extend
snames.extend("WORK")

print("snames =", snames)

# Create combo list
combo = [1,'a','b',2,3]

# Add snames to combo using +
new_combo = combo + snames
print("combo + snames =", new_combo)

# Append combo to snames
snames.append(combo)
print("snames after append combo =", snames)

# Extend combo to snames
snames.extend(combo)
print("snames after extend combo =", snames)

snames = [20, 30, [40, 50], 'W', 'O', 'R', 'K']
combo + snames = [1, 'a', 'b', 2, 3, 20, 30, [40, 50], 'W', 'O', 'R', 'K']
snames after append combo = [20, 30, [40, 50], 'W', 'O', 'R', 'K', [1, 'a', 'b', 2, 3]]
snames after extend combo = [20, 30, [40, 50], 'W', 'O', 'R', 'K', [1, 'a', 'b', 2, 3], 1, 'a', 'b', 2, 3]

In [ ]:
l1 = [10, 20]
l3 = [1, 2, 3, 4, 5, 6, 7]

# Insert l1 at 4th position (index 3)
l3.insert(3, l1)

print("Updated l3 =", l3)

Updated l3 = [1, 2, 3, [10, 20], 4, 5, 6, 7]

In [ ]:
collection = [1,2,3,['a','b','c'],100,'Nisha',20.50,90.10]

# Multiply int and float values by 5
for i in range(len(collection)):
    if type(collection[i]) == int or type(collection[i]) == float:
        collection[i] = collection[i] * 5

print("After Multiplication =", collection)

# Delete "Nisha"
collection.remove("Nisha")
print("After Removing Nisha =", collection)


print("Location of 102.5 =", collection.index(102.5))

After Multiplication = [5, 10, 15, ['a', 'b', 'c'], 500, 'Nisha', 102.5, 450.5]
After Removing Nisha = [5, 10, 15, ['a', 'b', 'c'], 500, 102.5, 450.5]
Location of 102.5 = 5

In [ ]:
square_list = [i*i for i in range(1,11)]

print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
div13 = [i for i in range(1,201) if i % 13 == 0]

print(div13)

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [ ]:
div4 = [i for i in range(300,401) if i % 4 == 0]

print(div4)

[300, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396, 400]

In [ ]:
x = int(input("Enter value of x: "))
y = int(input("Enter value of y: "))

x_list = [i for i in range(x)]
y_list = [j for j in range(y)]

result = [[i,j] for i in x_list for j in y_list]

print("Output =", result)

Enter value of x: 4
Enter value of y: 8
Output = [[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5], [0, 6], [0, 7], [1, 0], [1, 1], [1, 2], [1, 3], [1, 4], [1, 5], [1, 6], [1, 7], [2, 0], [2, 1], [2, 2], [2, 3], [2, 4], [2, 5], [2, 6], [2, 7], [3, 0], [3, 1], [3, 2], [3, 3], [3, 4], [3, 5], [3, 6], [3, 7]]

In [ ]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

# Union
print("Union =", s1.union(s2))

# Intersection
print("Intersection =", s1.intersection(s2))

# Difference (s1 - s2)
print("Difference s1-s2 =", s1.difference(s2))

# Symmetric Difference
print("Symmetric Difference =", s1.symmetric_difference(s2))

Union = {1, 2, 3, 4, 5, 6, 7, 8}
Intersection = {4, 5}
Difference s1-s2 = {1, 2, 3}
Symmetric Difference = {1, 2, 3, 6, 7, 8}

In [ ]:
s1 = {1, 2, 3, 4, 5}
l2 = [4, 5, 6, 7]

# Convert list to set
l2_set = set(l2)

print("Union =", s1.union(l2_set))
print("Intersection =", s1.intersection(l2_set))
print("Difference =", s1.difference(l2_set))

Union = {1, 2, 3, 4, 5, 6, 7}
Intersection = {4, 5}
Difference = {1, 2, 3}

In [ ]:
name = input("Enter Name: ").upper()
dob = input("Enter DOB (DD-MM-YYYY): ")

first4 = name[:4]

# Extract day and month
day = dob[:2]
month = dob[3:5]

password = first4 + "@" + day + month

print("Password =", password)

Enter Name: Prithviraj
Enter DOB (DD-MM-YYYY): 05-06-2002
Password = PRIT@0506

In [ ]:
name = input("Enter Name: ").upper()
dob = input("Enter DOB (DD-MM-YYYY): ")

first4 = name[:4]

# Extract year
year = dob[-4:]

password = first4 + "@" + year

print("Password =", password)

Enter Name: Prithviraj
Enter DOB (DD-MM-YYYY): 05-06-2002
Password = PRIT@2002

In [ ]:
for i in range(1,6):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(6,0,-1):
    for j in range(i):
        print("*", end="")
    print()

******
*****
****
***
**
*

In [ ]:
str_val = "ABCD"

for i in range(len(str_val)):
    for j in range(i+1):
        print(str_val[j], end=" ")
    print()

A
A B
A B C
A B C D

In [ ]:
str_val = "ABCD"

for i in range(len(str_val)):
    print(str_val[i] * (i+1))

A
BB
CCC
DDDD

In [ ]:
for i in range(1,5):
    print(str(i) * i)

1
22
333
4444

In [ ]:
val = "ABCD"
rev = val[::-1]

for i in range(len(rev)):
    print(rev[:i+1])

D
DC
DCB
DCBA

In [ ]:
s = input("Enter a string: ")

# Reverse string
rev = s[::-1]

# Pattern printing
for i in range(1, len(rev)+1):
    print(rev[:i])

Enter a string: Prithviraj
j
ja
jar
jari
jariv
jarivh
jarivht
jarivhti
jarivhtir
jarivhtirP

In [ ]:
odd_list = []

for i in range(1,11):
    if i % 2 != 0:
        odd_list.append(i)

print("Odd Numbers =", odd_list)

Odd Numbers = [1, 3, 5, 7, 9]

In [ ]:
odd_list = [i for i in range(1,11) if i % 2 != 0]

print("Odd Numbers =", odd_list)

Odd Numbers = [1, 3, 5, 7, 9]

In [ ]:
even_list = []

for i in range(200,251):
    if i % 2 == 0:
        even_list.append(i)

print("Even Numbers =", even_list)

Even Numbers = [200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250]

In [ ]:
List2 = [2,70,'work','para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]

result = []

for i in List2:

    if type(i) in [int, float, str, list, tuple]:
        result.append(i * 2)

    else:
        result.append(i)

print("Result =", result)

Result = [4, 140, 'workwork', 'parapara', 5.0, [1, 2, 3, 1, 2, 3], (1, 2, 1, 2), {1, 2}, {1: 'a', 2: 'b'}, 6, 20, 605.0]

In [ ]:
marks = input("Enter your marks: ")
def result(marks):
  if(not marks.isalpha or not marks.isalnum) or marks.isdigit():
    marks = float(marks)
    if marks > 100 or marks <0:
      Output = print("Invalid Input")

    elif marks > 80:
        print("You got Distinction")
    elif marks > 60:
        print("You got First class")
    elif marks > 40:
        print("You got Second class")
    elif marks >= 35:
        print("PASS")
    else:
        print("Fail")
result(marks)

Enter your marks: 98
You got Distinction

In [ ]:
def calculate_increment():
    salary = float(input("Enter yearly salary (in LPA):  "))
    rating = input("Enter rating (A/B/C/D): ").upper()

    increment = 0

    if salary <= 5:
        if rating == "A":
            increment = 16
        elif rating == "B":
            increment = 12
        elif rating == "C":
            increment = 10
        elif rating == "D":
            increment = 6

    elif salary <= 10:
        if rating == "A":
            increment = 14
        elif rating == "B":
            increment = 10
        elif rating == "C":
            increment = 8
        elif rating == "D":
            increment = 6

    elif salary <= 15:
        if rating == "A":
            increment = 8
        elif rating == "B":
            increment = 6
        elif rating == "C":
            increment = 4
        elif rating == "D":
            increment = 0

    elif salary <= 23:
        if rating == "A":
            increment = 7
        elif rating == "B":
            increment = 5
        elif rating == "C":
            increment = 4
        elif rating == "D":
            increment = 0

    else:
        print("Salary range not applicable")
        return

    new_salary = salary + (salary * increment / 100)

    print("Increment Percentage:", increment, "%")
    print("New Salary: ", new_salary, "LPA")

calculate_increment()

Enter yearly salary (in LPA):  9
Enter rating (A/B/C/D): a
Increment Percentage: 14 %
New Salary:  10.26 LPA

In [ ]:
def add_customer(customers, num):
    name = input("Enter name: ")
    dob = input("Enter DOB: ")
    mobile = int(input("Enter mobile: "))

    customers[num] = {"name": name, "DOB": dob, "mobile": mobile}


customers = {}
num = 1.

while True:
    add_customer(customers, num)
    num += 1

    ask = input("Add more? (yes/no): ")
    if ask == "no":
        break

print(customers)

Enter name: Prithviraj
Enter DOB: 05-06-2002
Enter mobile: 9607233038
Add more? (yes/no): no
{1.0: {'name': 'Prithviraj', 'DOB': '05-06-2002', 'mobile': 9607233038}}

In [ ]:
def val_mobile(mobile):
  if mobile.isdigit() and len(mobile) == 10:
    val = mobile
    flag = True
  else:
    val = "Invalid"
    flag = False
  return val, flag

In [ ]:
val_mobile("9876584210")

('9876584210', True)

In [ ]:
import sys
try:
  xyz=int(input("Enter a number: "))
  new_dict = dict(xyz)
except NameError:
  print("enter the proper logic")
except ValueError:
  print("add the proper logic")
except TypeError:
  print(sys.exc_info())
finally:
  print("finally")

Enter a number: 78
(<class 'TypeError'>, TypeError("'int' object is not iterable"), <traceback object at 0x7b3d88c07e80>)
finally

In [ ]:
while True:
  try:
    n= input("Please enter a number between 1 to 9: ")
    print(n)
    n=float(n)
    print(n)
    if n<1 or n>9:
      raise Exception()
    else:
      break
  except ValueError:
    print("alphabets are not allowed")
  except Exception:
    print("number should be between 1 to 9")
  except:
    print("something went wrong")
  finally:
    print("finally")

Please enter a number between 1 to 9: 78
78
78.0
number should be between 1 to 9
finally
Please enter a number between 1 to 9: 8
8
8.0
finally

In [2]:
from datetime import date

def calculate_age(year, month, day):
    today = date.today()
    age = today.year - year

    if (today.month, today.day) < (month, day):
        age = age - 1

    return age

print(calculate_age(2001, 6, 5))

24

In [3]:
from datetime import date

year = int(input("Enter birth year: "))
month = int(input("Enter birth month: "))
day = int(input("Enter birth day: "))

today = date.today()
age = today.year - year

if (today.month, today.day) < (month, day):
    age -= 1

print("Your age is:", age)

Enter birth year: 2001
Enter birth month: 06
Enter birth day: 05
Your age is: 24

In [4]:
from datetime import date

year = int(input("Enter birth year: "))
month = int(input("Enter birth month: "))
day = int(input("Enter birth day: "))
eligible_age = int(input("Enter eligibility age: "))

today = date.today()
age = today.year - year

if (today.month, today.day) < (month, day):
    age -= 1

if age >= eligible_age:
    print("Eligible")
else:
    print("Not Eligible")

Enter birth year: 2001
Enter birth month: 06
Enter birth day: 05
Enter eligibility age: 18
Eligible

In [5]:
text = input("Enter a string: ")

if text == text[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

Enter a string: Prithviraj
Not Palindrome

In [6]:
a = 0
b = 1

print("Fibonacci series up to 100:")
while a <= 100:
    print(a, end=" ")
    c = a + b
    a = b
    b = c

Fibonacci series up to 100:
0 1 1 2 3 5 8 13 21 34 55 89

In [7]:
n = int(input("Enter a number: "))

fact = 1
for i in range(1, n + 1):
    fact = fact * i

print("Factorial is:", fact)

Enter a number: 10
Factorial is: 3628800

In [9]:
nums = input("Enter numbers separated by space: ").split()

nums = [int(i) for i in nums]

largest = nums[0]
for i in nums:
    if i > largest:
        largest = i

print("Largest number is:", largest)

Enter numbers separated by space: 5 7 6 4 2 3
Largest number is: 7

In [10]:
nums = input("Enter numbers separated by space: ").split()
nums = [int(i) for i in nums]

for i in nums:
    print(i, ":", nums.count(i))

Enter numbers separated by space: 4 5 6 6 4 4 8 3 4 7
4 : 4
5 : 1
6 : 2
6 : 2
4 : 4
4 : 4
8 : 1
3 : 1
4 : 4
7 : 1

In [12]:
def common_elements(l1, l2):
    common = []
    for item in l1:
        if item in l2 and item not in common:
            common.append(item)
    return common
l1 = [1, 2, 3, 4, 5]
l2 = [3, 2, 8, 7, 9]
print(common_elements(l1, l2))

[2, 3]