In [ ]:
square_list = [i * i for i in range(1, 11)]
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
even_list = [i for i in range(1, 51) if i % 2 == 0]
print(even_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [ ]:
name_list = ["apple", "banana", "mango", "grapes"]
upper_list = [i.upper() for i in name_list]
print(upper_list)

['APPLE', 'BANANA', 'MANGO', 'GRAPES']

In [ ]:
num_list = [-10, 5, 7, -3, 0, 12]
positive_list = [i for i in num_list if i > 0]
print(positive_list)

[5, 7, 12]

In [ ]:
tuple_list = [(i, i*i) for i in range(1, 6)]
print(tuple_list)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
text = "prithviraj kharade"
vowel_list = [i for i in text if i in "aeiou"]
print(vowel_list)

['i', 'i', 'a', 'a', 'a', 'e']

In [ ]:
num_list = [10, -5, 7, -2, 15, -9]
new_list = [0 if i < 0 else i for i in num_list]
print(new_list)

[10, 0, 7, 0, 15, 0]

In [ ]:
word_list = ["apple", "banana", "cat", "mango"]
length_list = [len(i) for i in word_list]
print(length_list)

[5, 6, 3, 5]

In [1]:
words = ["Apple", "banana", "Avocado", "cat", "ant"]
filtered = [word for word in words if not word.lower().startswith('a')]
print(filtered)

['banana', 'cat']

In [2]:
numbers = [1, 2, 3, 4, 5, 6]
result = ["even" if num % 2 == 0 else "odd" for num in numbers]
print(result)

['odd', 'even', 'odd', 'even', 'odd', 'even']

In [3]:
nums = [n for n in range(1, 101) if n % 3 == 0 and n % 5 == 0]
print(nums)

[15, 30, 45, 60, 75, 90]

In [4]:
table = [[i * j for j in range(1, 6)] for i in range(1, 6)]
for row in table:
    print(row)

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]
[3, 6, 9, 12, 15]
[4, 8, 12, 16, 20]
[5, 10, 15, 20, 25]

In [5]:
data = {"name": "John", "age": 25, "city": "Pune"}
keys_list = [key for key in data]
print(keys_list)

['name', 'age', 'city']

In [6]:
text = "a1b2c3d4"
digits = [char for char in text if char.isdigit()]
print(digits)

['1', '2', '3', '4']

In [8]:
result = "".join([char for char in text if char != " "])
print(result)

HelloWorldPython

In [9]:
text = "programming"
duplicates = [char for char in set(text) if text.count(char) > 1]
print(duplicates)

['r', 'm', 'g']

In [11]:
sentences = ["Python is fast", "Python is easy"]
words = [word for sentence in sentences for word in sentence.split()]
print(words)

['Python', 'is', 'fast', 'Python', 'is', 'easy']

In [12]:
nums = [1, 2, 2, 3, 4, 4, 5]
unique = [n for i, n in enumerate(nums) if n not in nums[:i]]
print(unique)

[1, 2, 3, 4, 5]

In [13]:
A = [1, 2, 3]
B = ['a', 'b']
pairs = [(x, y) for x in A for y in B]
print(pairs)

[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b'), (3, 'a'), (3, 'b')]